* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

:root {
    --cls-bg: red;
    --bg--cls: blue;
}

.dark {
    --cls-bg: blue;
    --bg--cls: red;
}

.heading {
    color: white;
    font-weight: bold;
    background-color: var(--cls-bg);
    height: 200px;
    text-align: center;
    padding-top: 80px;
}

.btn {
    background-color: var(--bg--cls);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 730px;
    margin-top: 10px;
    cursor: pointer;
}